# Python (кэш компиляции)
__pycache__/
*.py[cod]

# Виртуальные окружения (папка с библиотеками)
venv/
.venv/
env/

# Настройки IDE (редакторов кода)
.vscode/
.idea/

# Системные файлы
Thumbs.db
Desktop.ini